/* container */
$widthContainer: 1210px;
$paddingContainer: 30px;

/* base typography */
$baseFont: "Roboto", sans-serif;
$baseWeight: 300;

/* colors */
$linkColor: #333333; /* base color for <a> */
