.experts {
  margin-bottom: -50px;
  @media(max-width:1024px) {
      margin-bottom: -40px;
  }
  &-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;

    @media(max-width:768px) {
        font-size: rem(18);
        margin-bottom: 25px;
    }
  }
  &-cards {
    &-item-img  {
      margin-bottom: 20px;
      img {
        display: block;
      }
    }
    &-item {
      margin-bottom: 50px;
      @media(max-width:576px) {
        padding-bottom: 30px;
        border-bottom: 1px solid #333333;
      }
      &-name {
            height: 90px;
            font-size: rem(22);
            font-weight: 700;
            margin-bottom: 15px;
            overflow: hidden;
            @media(max-width:992px) {
              height: 80px;
              font-size: rem(18);
              margin-bottom: 10px;
            }
            @media(max-width:576px) {
              height: 60px;
              font-size: rem(14);
            }
            @media(max-width:400px) {
              height: auto;
              font-size: rem(14);
            }
      }
      &-category {
        @media(max-width:992px) {
          font-size: rem(12);
          margin-bottom: 10px;
        }
        @media(max-width:576px) {
            font-size: rem(8);
        }
      }
    }
  }
}
