.news {
    &-item {
        &-img {
            line-height: 0;
        }
        &-wrap {
            padding-left: 75px;
            max-width: 675px;
            @media(max-width:1024px) {
                padding-left: 0;
            }

        }
        &-title {
            font-weight: 800;
            font-size: rem(30);
            margin-bottom: 25px;
        }
        &-text {
            font-size: rem(18);
        }

    }
}