.gynecology {

  &-wrap {
    padding-top: 50px;
    padding-bottom: 30px;

    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    &-hidde{
      display: none;
    }
  }
  &-definition {
    font-weight: 600;
    margin-bottom: 50px;
    font-size: rem(18);
    // @media(max-width:576px) {
    //     font-size: rem(10);
    // }
  }
  &-services {
    margin: 0 auto;
    // padding: 0px 20px 0px 20px;
    max-width: 980px;
    margin-bottom: 50px;
    &-ul {
      font-size: 0;
       li {
        font-size: rem(24);
        margin-bottom: 20px;
        display: inline-block;
        vertical-align: top;
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 30px;
        position: relative;
        &::before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          top: 50;
          left: 0;
          width: 15px;
          height: 2px;
          background-color: #333;
          @media(max-width:576px) {
            width: 8px;
            height: 1px;
          }
        }
        @media(max-width:576px) {
            font-size: rem(15);
            flex: 0 0 100%;
            max-width: 100%;
        }
      }
    }

    &-block span {
      margin-right: 5px;
    }
  }
  &-equipment {
    // padding-bottom: 40px;
    // margin-bottom: 30px;
    margin-top: -1px;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    &:last-child {
      border-bottom: none;
    }
    &-arrow {
      position: absolute;
      transform: translate(0, -50%);
      top: 50%;
      right: 40px;
      @media(max-width:768px) {
          right: 20px;
      }
    }
    &-wrap {
      padding: 50px 50px;
      text-align: center;
      @media(max-width:768px) {
          padding: 25px 50px;
      }
    }
    &-accord {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 35px;
    }

    &-title {
      padding-right: 25px;
      font-size: 2.5rem;
      font-weight: 700;
      text-transform: uppercase;
      @media(max-width:768px) {
        font-size: rem(18);
    }
    }
    &-arrowup {
      position: absolute;
      z-index: 5;
      left: 90%;
      text-align: end;
      max-width: 50px;
      width: 100%;
      height: 50px;
      background-color: black;
    }
    &-content {
      margin-bottom: 30px;
      &-item {
        @media(max-width:1024px) {
            margin-bottom: 30px;
        }
      }
      &-picture {
        margin-bottom: 25px;
        display: block;
        line-height: 0;
        margin-bottom: 35px;
        height: 0;
        padding-bottom: 44%;
        overflow: hidden;
        position: relative;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          height: 100%;
          max-width: 150%;
          -webkit-transition: .3s;
          transition: .3s;
          &:hover {
            transform: translate(-50%,-50%) scale(1.03);
          }
        }
      }
      &-title {
        display: inline-block;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
        @media(max-width:768px) {
            font-size: rem(14);
        }
      }
      &-text {
        @media(max-width:768px) {
          font-size: rem(8);
      }
      }
    }
  }
  &-specialists {
    padding-bottom: 40px;
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
    &-accord {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 35px;
    }
    &-title {
      font-size: 2.5rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    &-arrowup {
      position: absolute;
      z-index: 5;
      left: 90%;
      text-align: end;
      max-width: 50px;
      width: 100%;
      height: 50px;
      background-color: black;
    }
  }
  &-price {
    &-accord {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 35px;
    }
    &-title {
      font-size: 2.5rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    &-arrowup {
      position: absolute;
      z-index: 5;
      left: 90%;
      text-align: end;
      max-width: 50px;
      width: 100%;
      height: 50px;
      background-color: black;
    }
    &-tab {
      max-width: 1080px;
      padding: 10px 30px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(103, 90, 90, 0.722);
      margin-bottom: 20px;

      &-title {
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
      }
      &-arrow {
        max-width: 50px;
        width: 100%;
        height: 50px;
        background-color: black;
      }
    }
  }
  &-table {
    //     margin: 0 auto;
    //     max-width: 900px;
    width: 100%;

    &-title {
      font-weight: 700;
      margin: 0 auto;
      max-width: 900px;
    }
    &-content {
      &-name {
        width: 85%;
      }
      &-price {
        width: 15%;
        text-align: end;
      }
      &-text {
        text-align: end;
      }
    }
  }
  &-table table {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
  }
  &-table table td {
    border: 1px solid gray;
  }
}
