/* base */

@import "./base/vars.scss";
@import "./base/typography.scss";
@import "./base/grid.scss";
@import "./base/mixin.scss";
@import '../images/sprite/sprite.scss';

/* layout */
@import "./layout/inc-header.scss";
@import "./layout/inc-footer.scss";
@import "./layout/inc-topbanner.scss";
@import "./layout/inc-services.scss";
@import "./layout/inc-specialists.scss";

/* pages */
@import "index";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: $baseFont;
  font-weight: 400;
  font-size: rem(16px);
  line-height: 1.42;
  color: #333333;
  background-color: #fff;
}

#wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
}

#middle {
  flex: 1 0 auto;
  -webkit-box-flex: 1;
}

#footer {
  flex: 0 0 auto;
  -webkit-box-flex: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: $widthContainer;
  padding-left: $paddingContainer;
  padding-right: $paddingContainer;
}
.bcg-image {
  position: absolute !important;
  bottom: 0;
    transform: translate(-50%, 0px);
    left: 50%;
  z-index: -1;
  @include sprite($background-koloski)
}

.order-btn-fixed {
  display: none;
  @media(max-width:1024px) {
      display: inline-block;
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0px);
  }

}

.swiper-button-next {
  @include sprite($slider-arrow);
  transform: rotate(180deg);
  &:after {
    content: none;
  }
}
.swiper-button-prev {
  @include sprite($slider-arrow);
  &:after {
    content: none;
  }
}

// Yndex map style
.ymaps-2-1-79-gototech {
  display: none !important;
}
.ymaps-2-1-79-gototaxi, .ymaps-2-1-79-gotoymaps {
  display: none !important;
}